.register_form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.form {
    min-width: 50%;
}

.radio {
    padding: 0% 5% 5% 5% ;
}

.role_form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.register_buttons {
    width: 50%;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
}

mat-form-field {
    display: block;
    width: 85%;
}