<div class="main_container">
    <div class="title_container">
        <h1>Hallo {{name}}, schön Dich zu sehen!</h1>
    </div>
    <div class="more_than_half_container">
        <h2>Wichtige Neuheiten</h2>
        <h3>Neues in CAS SciFinder-n - 20.06.2022/21.06.2022</h3>
        <p>01.06.2022 / Simone Traudes</p>
        <mat-divider></mat-divider>
        <p>Am 20.06.2022 und 21.06.2022 veranstaltet das Hochschulbibliothekszentrum NRW ein
            Online-Konsortialtreffen
            für CAS SciFinder-n. <br>

            Erfahren Sie was es Neues in SciFinder-n gibt und "best practices" mit CAS-Daten zu arbeiten. Die Agenda
            der
            beiden Tage finden Sie hier. <br>

            Bitte melden Sie sich individuell direkt bei unserem Kontakt für den Support der Datenbank Frau Dr.
            Karin
            Faerber an. <br>

            Den Zugang sowie die Möglichkeit für die Registrierung zu CAS SciFinder-n finden Sie in der
            Online-Bibliothek der Provadis Hochschule.</p>
        <br>
        <br>
        <h3>Geänderte Öffnungszeiten über Christi Himmelfahrt</h3>
        <p>25.05.2022 / Katharina Pachen</p>
        <mat-divider></mat-divider>
        <p>Liebe Studierende und Dozierende, <br>

            an Christi Himmelfahrt (26.05.) und am darauf folgenden Samstag (28.05.) bleiben die Hochschule und er
            Campus komplett geschlossen.<br>

            Am Freitag (27.05.) ist der Campus geöffnet, die Verwaltung und das Prüfungsamt sind allerdings nicht
            erreichbar. <br>

            Wenn Sie die Bibliothek nutzen möchten, können Sie sich den Schlüssel gerne an der Infotheke abholen.
            <br>

            <br>
            <br>

            Liebe Grüße und ein schönes Wochenende

            <br>
            <br>

            Ihre Verwaltung
        </p>
    </div>


    <div class="less_than_half_container">
        <h2>Irgendwas Anderes</h2>
        <div class="button_container">
            <button mat-raised-button color="primary"> Placeholder 1</button>
            <button mat-raised-button color="primary"> Placeholder 2</button>
            <button mat-raised-button color="primary"> Placeholder 3</button>
        </div>
        <div class="students_container">
            <h2> Anzahl der Studenten auf der Plattform: </h2>
            <div class="students_number">
                <h1>35</h1>
            </div>
        </div>
    </div>
</div>