<mat-card class="card">
    <img src="../../assets/Logo_Provadis_Hochschule.png" class="logo">
    <div id="register_div">
        <div class="register_form">
            <form class="login_form">
                <p>
                    <mat-form-field appearance="fill" class="form">
                        <mat-label>E-Mail</mat-label>
                        <input matInput [formControl]="emailFormControl" placeholder="Bsp. pat@example.com" required>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="fill" class="form">
                        <mat-label>Passwort</mat-label>
                        <input matInput [formControl]="passwordFormControl" type="password" required>
                    </mat-form-field>
                </p>
            </form>
        </div>
        <div class="login_buttons">
            <button mat-raised-button class="cancel_button" routerLink="/">Abbruch</button>
            <button mat-raised-button class="submit_button" (click)="login()">Anmelden</button>
        </div>
    </div>
</mat-card>