.demo-table {
    width: 90%;
    margin-top: 3vh;
    margin-right: auto;
    margin-left: auto;
  }
  
  .courses-button-container {
    width: 90%;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .demo-button + .demo-button {
    margin-left: 10px;
  }

  .mat-column-button {
    width: 50px;
  }