.demo-table {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .courses-button-container {
    width: 90%;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .demo-button + .demo-button {
    margin-left: 10px;
  }