.demo-table {
    width: 90%;
    margin-top: 3vh;
    margin-right: auto;
    margin-left: auto;
  }
  
  .courses-button-container {
    width: 90%;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .demo-button + .demo-button {
    margin-left: 10px;
  }

  .mat-column-button {
    width: 50px;
  }

  ::ng-deep .green-snack-bar {
    background-color: #b5e48c;
    color: #0000008a;
  }

  ::ng-deep .yellow-snack-bar {
    background-color: #ffffa3;
    color: #0000008a;
  }

  ::ng-deep .red-snack-bar {
    background-color: #ff7477;
    color: #0000008a;
  }