.time_table_container {
    width: 90%;
    margin-top: 3vh;
    margin-right: auto;
    margin-left: auto;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}